<!DOCTYPE html>
<html>

<head>

<title>Change Password</title>

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/mobile.css') }}">

</head>

<body>

<div class="mobile-header">

CHANGE PASSWORD

</div>

<div class="container">

<div class="card">

<h2>Update Password</h2>

<form method="POST">

<input
type="password"
name="current_password"
placeholder="Current Password"
required>

<br><br>

<input
type="password"
name="new_password"
placeholder="New Password"
required>

<br><br>

<input
type="password"
name="confirm_password"
placeholder="Confirm New Password"
required>

<br><br>

<button
type="submit"
class="main-btn">

UPDATE PASSWORD

</button>

</form>

</div>

</div>

</body>

</html>